<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MapKey" value="QV29C9SmkP0NM0Y6i7op~IZsrftoZ6UeGu_DTcauv4A~AvrUBvZOyZ5XnxnA048pctmml-IqEWPM9PI-WAbSRgVBIdDA4wVPKiVUrufcDA8B" />
	</appSettings>
</configuration>